.App {
  background-color: black;
  color: white;
}

tbody {
  margin:auto;
  display:block;
  border: 1px solid white;
  width:90%;
  color: white;
  border-radius: 5px;
}

th {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

td {
  text-align: center;
}

h1{
  text-align: center;
}

